body {
  text-align: center;
  background-color: #242424;
}

#level-title {
  font-family: 'Roboto', sans;
  font-size: 2rem;
  margin:  5%;
  color: gray;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 100;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 6px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: #f7ab0a;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

footer {
  color: gray;
  font-family: 'Poppins', sans;
  padding-top: 40px;
}

footer:hover {
  color: f7ab0a#;
}

a {
  text-decoration: none;
  color: inherit;
}

.yell {
  color: #f7ab0a;
  font-weight: 500;
}
